@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 183 73% 6%;

    --card: 270 11% 93%;
    --card-foreground: 276 12% 8%;

    --popover: 0 20% 99%;
    --popover-foreground: 276 12% 8%;

    --primary: 213 73% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 243 73% 90%;
    --secondary-foreground: 183 73% 6%;

    --muted: 0 5% 93%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 243 72% 50%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 5% 93%;
    --input: 0 5% 93%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply box-border !important;
  }
  body {
    @apply bg-background text-foreground;
  }
}
